<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html">

<head>
	<meta charset="ISO-8859-1">
	<title>Patient</title>
	
</head>

<body>
<div layout:fragment="content">
	<div class="p-3">
		<div class="card">
		<div class="card-header">Liste Patients</div>

	<div class="card-body">
		
		
		
		<table class="table">
			<thead>
				<tr class="col  bg-light">
					<th>ID</th>
					<th>Nom</th>
					<th>Date</th>
					<th>Malade</th>
					<th>Score</th>
					<th colspan="2" class="px-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
				</tr>


				<tr th:each="patient:${ListPatients}">
					<td th:text="${patient.id}"></td>
					<td th:text="${patient.nom}"></td>
					<td th:text="${patient.dateNaissence}"></td>
					<td th:text="${patient.malade}"></td>
					<td th:text="${patient.score}"></td>
					<td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
						<a onclick="return confirm('met2aked?')" 
						th:href="@{/admin/delete(id=${patient.id}, keyword=${keyword} , page=${currentPage}) }" class="btn btn-danger"><i class="bi bi-trash3"></i> </a>
					</td>
					<td>
						<a th:href="@{editPatient(id=${patient.id})}"class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
					</td>
				</tr>
			</thead>

		</table>
		<ul class="nav nav-pills">
			
			<li th:each="page,status:${pages}">
				<a 
					 th:href="@{/index(page=${status.index},keyword=${keyword})}"
				    th:class="${currentPage==status.index?'btn btn-info ms-2':'btn btn-outline-info ms-2'}"
				    th:text="${1+status.index}"
			></a>
			</li>
			
		</ul>
		
	</div>
	</div>
	</div>



</div>

	

</body>

</html>